body {
    background-color: red;
}

.header {
    height: 100px;
    background-color: white;
    border: solid;
}

.title {
    width: 300px;
    margin-left: 540px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
    background-color: coral;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: scroll;
}

.card1 {
    margin-left: 10px;
    float: left;
}

.card2 {
    margin-left: 100px;
    float: left;
}

.card3 {
    margin-left: 820px;
    float: inherit;
}

img {
    height: 100%;
    width: 100%;
    opacity: 0.2;
}

img:hover {
    opacity: 1;
}

input:disabled {
    background-color: red;
}

p::first-letter {
    color: white;
}